.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-block: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main{
    display: flex;
    gap: 20px;
    align-items: center;
}

.links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.dim{
    cursor: pointer;
    font-weight: bold;
}
.dim {
    transition: filter 0.3s, color 0.3s;
    filter: brightness(0.5);
}
span:hover {
    filter: brightness(1.5);
    color: #fffbe7;
}
img{
    width: 50px;
    transition: filter 0.3s, box-shadow 0.4s;
}

.react {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
a{
    text-decoration: none;
    color: white;
}